<h1 class="p-3 mb-2 bg-secondary text-white text-center" ><%="Coach answer"%></h1>
<h2 class= "p-3 mb-2 text-center border bg-secondary"><%="Your message"%></h2>
<h2 class= "p-3 mb-2 text-center border"><%= params[:question]%></h2>
<h2 class= "p-3 mb-2 text-center border bg-secondary"><%="coach answer"%></h2>
<h2 class= "p-3 mb-2 text-center border"><%= @answer %></h2>

<H3  class= "alpha p-3 mb-2 text-center"><%= link_to "ask a new question", ask_path %><H3>
